.scroll{  
    background-color: rgba(0,0,0,0.6) !important;
    font-size: 0 !important;
    width: 40px !important;
    height: 60px !important;
    position: absolute !important;
    bottom: 20px !important;
    left: calc(50% - 20px) !important;
    border-radius: 17px !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    flex-direction: column !important;
    border: 1px solid #bcbaba !important;
    animation-name: updown !important;
    animation-duration: 2s !important;
    animation-iteration-count: infinite !important;
    animation-timing-function: ease-in-out !important;
    margin: 0 !important;
    padding: 0 !important;
}
@keyframes updown{
     0%{
    }
    50%{
       transform: translateY(15px);
    }
    100%{
    }
    
/*     0%{
        transform: translateX(0px) translateY(0px);
    }
    25%{
        transform: translateX(100px);
    }
    50%{
        transform: translateX(100px) translateY(-100px);
    }
    75%{
        transform: translateX(0px) translateY(-100px);
    }
    100%{
        transform: translateX(0px) translateY(0px);
    } */
}
.scroll::before{
    content: ""; 
    width: 8px !important;
    height: 8px !important;
    display: block !important;
    border: 2px solid #fff !important;
    transform: rotate(45deg) !important;
    border-top: transparent !important;
    border-left: transparent !important;
    animation-name: down1;
    animation-duration: 1s !important;
    animation-iteration-count: infinite !important;
    margin: 0 !important;
    padding: 0 !important;   
}
.scroll::after{
    content: ""; 
    width: 8px !important;
    height: 8px !important;
    display: block !important;
    border: 2px solid #fff !important;
    transform: rotate(45deg) !important;
    border-top: transparent !important;
    border-left: transparent !important;
    animation-name: down1;
    animation-duration: 1s !important;
    animation-iteration-count: infinite !important;
    animation-delay: 0.1s !important;
    margin: 0 !important;
    padding: 0 !important;
}
@keyframes down1{
    0%{ /* 시작 */
       opacity: 1;
    }
    50%{
/*         transform:translateY(10px) rotate(45deg); */
       opacity: 0;
    }
    100%{ /* 종료 */
       transform:translateY(0px) rotate(45deg);
       opacity: 1;
    }
}
